.card {
  background: white;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.thumb {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.category {
  color: #388e3c;
  font-weight: bold;
  margin-bottom: 0.5em;
}
